

<div class="container">
    <h4 class="font-weight-light" style="text-align: center"><em>Ajouter un patient dans la base de donnée</em></h4>
    <form>
        <div class="form-group">
            <label> Nom </label> <br>
            <input name="nomPat" type="text" class="form-control" id="nomPatient" placeholder="Saisir le nom du patient" [(ngModel)]="newPatient.nomPatient">
            <!--[(ngModel)]="ObjetdansComponent.Attributdelobjet" : permet de relier les info saisis au variable declarer dans create-hopital.component.ts pour stocker-->
        </div>

        <div class="form-group">
            <label> Prénom </label> <br>
            <input name="prenomPat" type="text" class="form-control" id="prenomPatient" placeholder="Saisir le prénom du patient" [(ngModel)]="newPatient.prenomPatient">
        </div>

        <div class="form-group">
            <label> Date de naissance </label> <br>
            <input name="DOB" type="text" class="form-control" id="dateDeNaissance" placeholder="aaaa-mm-jj" [(ngModel)]="newPatient.dateDeNaissance">
        </div>

        <div class="form-group">
            <label> Pathologie </label> <br>
            <input name="patho" type="text" class="form-control" id="pathologie" placeholder="Saisir la pathologie du patient" [(ngModel)]="newPatient.pathologie">
        </div>

        <div class="form-group">
            <label> Nom du médecin traitant </label> <br>
            <select class="form-control" name="medecinTraitant" [(ngModel)]="newPatient.medecin">
                <option *ngFor="let Med of listMed" [ngValue]="Med">{{Med.prenomMedecin}} {{Med.nomMedecin}}</option>
            </select>            
        </div>

        <button type="submit" class="btn btn-success" (click)="createNewPatient()">Envoyer vers la base de donnée</button>
        <!--(click)="" : permet d'appeler la methode dans components.ts pour creer un patient -->
    </form>
</div>
